<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="stanford_arm_ros2_control">
        <ros2_control nome="StanfordArmSytem" type="system">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>

        <joint name="joint_1">
            <command_interface name="effort">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="joint_2">
            <command_interface name="effort">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        </ros2_control>
        
    </xacro:macro>
    
</robot>
